*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.heading{
    color: #d20000;
    padding-bottom: 20px;
    font-size: 40px;
}

.outer{
    overflow: hidden;
    text-align: center;
    background: #101010;
    padding: 40px;

}

.outer h1{
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 30px;
    color: #d20000;
    font-size: 40px;
}

.outer h2{
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 30px;
    color: #d20000;
    font-size: 30px;
}



#intro{
    color:white; 
    margin-top: 5px; 
    font-size: 17px; 
    line-height: 25px;
    padding-left: 20px;
    text-align: left;
    margin-bottom: 40px;
}

.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #d20000;
    margin-bottom: 40px;

}

.ps{
    margin-bottom: 40px;
}

.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.ps a:hover > img{
    filter: none;
}

.section{
    width: 600px;
    margin: auto;
    color: white;
    text-align: justify;
    height:0;
    overflow: hidden;
}

.section:target{
    height: auto;
    
}

.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #d20000;
    font-weight: 600;
}

.section p{
    text-align: center;
    font-size: 17px;
}

.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  